*
{
    margin: 0;
    padding: border-box;
    font-family:"poppins",sans-serif
}
body
{
   background-image: url(b.jpg);
}

/* LOGIN BUTTON STYLE */
.login-container {
    position: fixed;   /* Keeps the button in the top-right corner */
    top: 15px;
    right: 20px;
    z-index: 1000;     /* Makes sure it stays above other content */
}

.login-btn {
    padding: 8px 18px;
    background-color: #2e8b57;  /* green color */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #246b45;  /* darker green when hovered */
}



.header
    {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 10px;
    }
    .header .nav-item{
        padding: 8px 14px;
        border-radius: 10px;
        border: none;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 1px 3px rgba(52, 49, 49, 0.15);
    }

    
    
    .cenetr{
        box-align: center;
    }
/*button */
.btn{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: rgb(236, 234, 234);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    border-color: aliceblue;
}
.btn::after{
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
    border-color: aliceblue;
}

.btn::before{
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    filter:blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    border-color: aliceblue;
    opacity: 0;
}

@keyframes glowing {
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}

/* hover */
.btn:hover::before{
    opacity: 1;
}

.btn:active::after {
    background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}

